[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.fix-buttons {
  background: #ffffff;
  padding: 10px 0;
  border-top: 3px solid #3498DB;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fix-buttons .button-gen-wrapper {
  width: 83.33333333%;
  margin: 0 auto;
}
textarea { resize: vertical; }

.panel-body {
  padding: 25px;
}

.container-main {
  background-color: #ECECEC;
  padding-top: 70px;
  padding-bottom: 50px;
}
