<div class="row">
  <div class="panel panel-default form-panel col-md-6">
    <div class="panel-body">
      <div class="form-container" *ngIf="!submitted">
        <h2>Infrastructure Engineering Request Form </h2>
        <hr>
        <form [formGroup]="Form" novalidate>
          <div class="row">
            <h3>General Information </h3>
          </div>
          <div class="row form-row">
            <div class="col-sm-3">
              <label for="">Stack</label>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
              <p-dropdown [options]="stacks" formControlName="stack_name" placeholder="Select Stack"></p-dropdown>
            </div>
          </div>
          <div class="row form-row">
            <div class="col-sm-3">
              <label for="">Application Type </label>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
              <p-dropdown [options]="appTypes" formControlName="type_name" placeholder="Select Application Type" [(ngModel)]="selectedApplicationType"></p-dropdown>
            </div>
          </div>
          <div [ngSwitch]="selectedApplicationType">
            <ng-template [ngSwitchCase]="'etl'">
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Environment</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <p-dropdown [options]="environment" formControlName="env" placeholder="Select Environment"></p-dropdown>
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project" class="form-control" pInputText placeholder="Enter project name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Code</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_code" class="form-control" pInputText placeholder="Enter project name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Application Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="application_name" class="form-control" pInputText placeholder="Enter Application name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Bitbucket Repository Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="bitbucket_repository_name" class="form-control" pInputText placeholder="Enter Bitbucket repository name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Bitbucket Repository Url</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="bitbucket_url_name" class="form-control" pInputText placeholder="Enter Bitbucket repository url">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">JIRA Project Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="jira_repository_name" class="form-control" pInputText placeholder="Enter JIRA project name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">JIRA Project Url</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="jira_url_name" class="form-control" pInputText placeholder="Enter JIRA project url">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Business Analyst</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="email" formControlName="business_analyst" class="form-control" pInputText placeholder="Enter Business Analyst email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Lead</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_lead" class="form-control" pInputText placeholder="Enter Project Lead email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Manager</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_manager" class="form-control" pInputText placeholder="Enter Project Manager email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Architect</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_architect" class="form-control" pInputText placeholder="Enter Project Architect email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Development Team</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="development_team" class="form-control" pInputText placeholder="Enter development teams email">
                </div>
              </div>
            </ng-template>
            <ng-template [ngSwitchCase]="'service'">
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Environment</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <p-dropdown [options]="environment" formControlName="env" placeholder="Select Environment"></p-dropdown>
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project" class="form-control" pInputText placeholder="Enter project name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Code</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_code" class="form-control" pInputText placeholder="Enter project name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Application Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="application_name" class="form-control" pInputText placeholder="Enter Application name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Bitbucket Repository Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="bitbucket_repository_name" class="form-control" pInputText placeholder="Enter Bitbucket repository name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Bitbucket Repository Url</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="bitbucket_url_name" class="form-control" pInputText placeholder="Enter Bitbucket repository url">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">JIRA Project Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="jira_repository_name" class="form-control" pInputText placeholder="Enter JIRA project name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">JIRA Project Url</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="jira_url_name" class="form-control" pInputText placeholder="Enter JIRA project url">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Business Analyst</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="email" formControlName="business_analyst" class="form-control" pInputText placeholder="Enter Business Analyst email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Lead</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_lead" class="form-control" pInputText placeholder="Enter Project Lead email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Manager</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_manager" class="form-control" pInputText placeholder="Enter Project Manager email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Architect</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_architect" class="form-control" pInputText placeholder="Enter Project Architect email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Development Team</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="development_team" class="form-control" pInputText placeholder="Enter development teams email">
                </div>
              </div>
            </ng-template>
            <ng-template [ngSwitchCase]="''">
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Environment</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <p-dropdown [options]="environment" formControlName="env" placeholder="Select Environment"></p-dropdown>
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project" class="form-control" pInputText placeholder="Enter project name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Code</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_code" class="form-control" pInputText placeholder="Enter project name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Application Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="application_name" class="form-control" pInputText placeholder="Enter Application name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Bitbucket Repository Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="bitbucket_repository_name" class="form-control" pInputText placeholder="Enter Bitbucket repository name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Bitbucket Repository Url</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="bitbucket_url_name" class="form-control" pInputText placeholder="Enter Bitbucket repository url">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">JIRA Project Name</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="jira_repository_name" class="form-control" pInputText placeholder="Enter JIRA project name">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">JIRA Project Url</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="jira_url_name" class="form-control" pInputText placeholder="Enter JIRA project url">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Business Analyst</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="email" formControlName="business_analyst" class="form-control" pInputText placeholder="Enter Business Analyst email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Lead</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_lead" class="form-control" pInputText placeholder="Enter Project Lead email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Manager</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_manager" class="form-control" pInputText placeholder="Enter Project Manager email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Project Architect</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="project_architect" class="form-control" pInputText placeholder="Enter Project Architect email">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-3">
                  <label for="">Development Team</label>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                  <input type="text" formControlName="development_team" class="form-control" pInputText placeholder="Enter development teams email">
                </div>
              </div>
            </ng-template>
            <ng-template [ngSwitchCase]="'ui'">
              <br><br>
                <p class="form-control alert-danger">
                  please select the applications type from dropdown
                </p>
            </ng-template>
          </div>
          <br>
          <hr>
          <div class="button-gen-wrapper">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="col-md-6 button-container">
                <button type="submit" pButton category="primary" type="text" label="Submit" [disabled]="!Form.valid"  (click)="save(Form.value, Form.valid)"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="alert alert-success" *ngIf="submitted">
          <strong>Success !</strong> form has submitted successfully.
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row" #buttonWrapper>

</div>
